:root {
    font-size: 62.5%;   
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}

/*body styling*/
body {
    background:url(../images/star-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*header*/
header {
    height: 150px; 
    
  }

/*logo styling*/

#logo {
    width: 50%;
    height: 150px;
    padding-top: 2rem;
    float: left;
  }

  img {
    height: 100px;
}

/*nav bar*/

/*DropDown Button*/
.buttondown {
  background-color: #ff9900;
  border-radius: 4px;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 100px;
  height: 50px;
}

/* position dropdown */
.dropdown {
  padding-top: 4rem;
  padding-left: 2rem; 
  border-radius: 4px;
  width: 40%;
  float: left; 
}

/* style dropdown content */
.drop-down-list {
  display: none;
  cursor: pointer;
  position: absolute;
  background-color: #f6cf23;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* style links in dropdown */
.drop-down-list a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.drop-down-list a:hover {
  background-color: #ff9900;
  border-radius: 4px;
}


.dropdown:hover .drop-down-list {  
  display: flex;
}

.dropdown:hover .buttondown {
  background-color: #ff9900;
}

/*headings*/
h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
  font-size: 5.4rem;
  color: #f6cf23;
  margin-bottom: 5rem;
}

/*engage button*/
.start {
  font-size: 2rem;
  padding: 2rem 2rem;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #f6cf23;
  border-radius: 6px;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #040404;
  background-color: #ff9900;
}

.start:hover {
  cursor: pointer;
  background-color: #f6cf23;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(107,107,178, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}


.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem; 
}


.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



